Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers

WarningsAsErrors: ''

HeaderFilterRegex: '(^|.*/)(shared|central-server-rpi|device-rpi)/.*'

FormatStyle: file
