[device]
device_id=PI-TEST
node_name=vision-node-01
ip_address=192.168.0.21

[mqtt]
host=127.0.0.1
port=1883
client_id=PI-TEST
username=
password=
keep_alive_seconds=30
reconnect_min_delay_seconds=1
reconnect_max_delay_seconds=30
clean_session=true
